/.github/CODEOWNERS @ripplearc/construculator-devop @hyperdanyel
/.github/workflows/run-c-check.yml @ripplearc/construculator-devop @hyperdanyel
codemagic.yaml  @ripplearc/construculator-devop @hyperdanyel
mutation_test_rules.xml @ripplearc/construculator-devop @hyperdanyel
analysis_options.yaml @ripplearc/construculator-devop @hyperdanyel