/.github/CODEOWNERS @nyelnizy @hyperdanyel
/.github/workflows/run-c-check.yml @nyelnizy @hyperdanyel
codemagic.yaml  @nyelnizy @hyperdanyel
mutation_test_rules.xml @nyelnizy @hyperdanyel
analysis_options.yaml @nyelnizy @hyperdanyel